[project]
	description = Try out Gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/christygrant
[access "refs/for/refs/*"]
	read = group user/christygrant
	push = group user/christygrant
	label-Code-Review = -2..+2 group user/christygrant
	label-Verified = -1..+1 group user/christygrant
	rebase = group user/christygrant
	removeReviewer = group user/christygrant
	submit = group user/christygrant
[access "refs/heads/*"]
	read = group user/christygrant
	create = group user/christygrant
	push = +force group user/christygrant
	pushMerge = group user/christygrant
[access "refs/tags/*"]
	push = group user/christygrant
	push = +force group user/christygrant
